body{
  background-color: black;
  font-family: Raleway;
}
.container{
  padding-bottom: 3%;
  padding-top: 3%;
  background-color: #d7dde8;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.flashy {
  background-color: #a3e0d1;
  border: 5px solid #1b4591;
}
.unique {
  background-color: #a3e0d1;
  border: 5px solid #1b4591;
}
.unique p{
  font-weight: bold;
  text-shadow: 1px 1px 2px pink;
}
.unique p a{
  font-style: italic;
}
.resize {
  height: 300px;
  width: 100%;
  border-radius: 10%;
}

@media screen and (min-width: 768px) {
  .flashy {
    width: 27%;
    float: left;
    padding: 20px;
    margin: 1.66%;
  }
  .unique{
      width: 27%;
      float: left;
      padding: 20px;
      margin: 1.66%;
    }
}

@media screen and (max-width: 1553px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
  .flashy {
    width: 150px;
    float: left;
    padding: 5px;
    margin: 1.66%;
  }
  .unique{
      width: 150px;
      float: left;
      padding: 5px;
      margin: 1.66%;
    }
}

@media screen and (max-width: 480px) {
  body {
    background-color: #bf7c72;
  }
}
